.dropdown-container {
  position: relative;
}

.panel{
  position:absolute;
  left:0;
  top:0;
  z-index: 1;
}

.dropdown{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dropdown-menu{
	max-height: 100%;
}