.container{
	height: 100%;
	width: 100%;
	/* needed to contain the error text */
	position: relative;
}

/* corrections is the css to remove the weird properties of textarea and input */
.corrections{
	min-height: 100%;
	height:inherit;
	width: inherit;
	font: inherit;
	color: inherit;
	background: inherit;
	box-sizing: border-box;
	display: inherit;
	border: none;
	resize: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.corrections:focus{
	outline: none;
}

.text{
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

.editable-text{
	color: rgb(var(--color9))
}

.editable-text::placeholder{
	color: rgb(var(--color5));
	opacity: 0.3;
}

.editable-text:focus-within{
	background-color: rgb(var(--color2));
	border: 1px solid rgb(var(--color5));
}

.error{
	height: inherit;
	width: inherit;
	top: 0px;
	left: 0px;
	position: absolute;
	pointer-events: none;
	border-bottom: solid 2px rgb(var(--color18));
	box-sizing: border-box;
}

.error-icon{
	position:absolute;
	width: 1em;
	height: 1em;
	top:2px;
	right:2px;
	cursor: pointer;
	pointer-events: all;
	color:rgb(var(--color18));
	z-index: 2;
  }
  
  .error-info {
	position: absolute;
	top: -10px;
	left: 100%;
	width: 350px;
	z-index: 2;
	text-align: left;
	transition: all 250ms linear;
	visibility: hidden;
	opacity: 0;
  }
  
  .error-shown {
	visibility: visible;
	opacity: 1;
  }
  
  .error-text {
	color:rgb(var(--color5));
	background-color: rgb(var(--color18));
	margin: 0;
	padding:5px;
	border-radius:4px;
	display: inline-block;
  }
